{% set services = __SELF__.services %}
<div class="clearfix">
	<div class="col-lg-1"></div>
	<div class="services__container col-sm-12 col-lg-10">
		{% for service in services %}
		<div class="col-sm-12 col-md-4 grow-y text-center">
			<div class="services__item clearfix">
				<div class="col-sm-12 title-block nopad">
					<h3 class="services__title">{{ service.title }}</h3>
				</div>
				<div class="col-sm-12 nopad">
					<p class="services__text">{{ service.text }}</p>
					<a href="{{ service.link }}" class="btn btn-default slider-button black hvr-fade">Read more</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>