{% set services = __SELF__.services %}
<div class="container">
    <div class="row">
        <div class="service-container">
        {% for service in services %}

            <div class="col-xs-12 col-sm-4 service grow-y no-padding text-center">
                <div class="col-xs-12 title-block">
                    <h2 class="service-title">{{ service.title }}</h2>
                </div>
                <hr/>
                <div class="col-xs-12">
                    <p class="service-text">{{ service.text }}</p>
                    <a href="{{ service.link }}" class="btn btn-default slider-button black hvr-fade">Lees meer</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
